@{
    ViewData["Title"] = " Notification";
}

<div class="container-fluid p-0">

    <div class="row">

        <div class="col-12 col-xl-12">
            <h2 class="ml-2 mt-2"><span style="font-size:20px;"><strong>Notification Template</strong></span></h2>
            <a class="btn btn-sm btn-outline-primary btn-primary ml-2 mt-3 mb-3" style="width: 200px">Add Notification Template</a>
            <div class="card">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Notification Type</th>
                            <th>Notification Channel</th>
                            <th>Date Created</th>
                            <th>Created By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Nwokolo Ted</td>
                            <td>Welcome Message</td>
                            <td>Welcome Message</td>
                            <td>SMS</td>
                            <td>02/12/2020</td>
                            <td>Nwokolo</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cosmic Stan</td>
                            <td>Notification Message</td>
                            <td>Notification Message</td>
                            <td>Email</td>
                            <td>03/12/2020</td>
                            <td>Deji</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>James Bond</td>
                            <td>Welcome Message</td>
                            <td>Welcome Message</td>
                            <td>SMS</td>
                            <td>04/12/2020</td>
                            <td>Bolaji</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>John Smith</td>
                            <td>Welcome Message</td>
                            <td>Welcome Message</td>
                            <td>Email</td>
                            <td>05/12/2020</td>
                            <td>Bolaji</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid p-0">

    <h1 class="mb-3 ml-2 text-primary" style="font-size:20px; font-weight:bold;">Create Notification Template</h1>

    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3 row">
                            <label class="col-form-label col-sm-2 text-sm-right">Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-sm-2 text-sm-right">Description</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" placeholder="Textarea" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-sm-2 text-sm-right">Notification Type</label>
                            <div class="col-sm-6">
                                <select class="form-control">
                                    <option></option>
                                    <option>email</option>
                                    <option>sms</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-form-label col-sm-2 text-sm-right">Notification Channel</label>
                            <div class="col-sm-6">
                                <select class="form-control dropdown">
                                    <option></option>
                                    <option>Welcome Message</option>
                                    <option>Application submission</option>
                                    <option>Application Approval</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-10 ml-sm-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
