@{
    ViewData["Title"] = " Notification Email Alert";
}

<div class="container-fluid p-0">

    <div class="row">

        <div class="col-12 col-xl-12">
            <h2 class="ml-2 mt-2"><span style="font-size:20px;"><strong>Email Notification</strong></span></h2>
            <a class="btn btn-sm btn-outline-primary btn-primary ml-2 mt-3 mb-3" style="width: 200px">Add Email Notification</a>
            <div class="card">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Receiver Name</th>
                            <th>Date Created</th>
                            <th>Date Processed</th>
                            <th>Created By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>ted@gmail.com</td>
                            <td>Welcome Message</td>
                            <td>Dear Ted welcome to our organisation our may we be of service to you</td>
                            <td>Nwokolo Ted</td>
                            <td>03/12/2020</td>
                            <td>03/12/2020</td>
                            <td>Nwokolo</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>cosmic@gmail.com</td>
                            <td>Application Submission</td>
                            <td>Dear Stan your application for our premium service have be received, we will get back to you soon</td>
                            <td>Cosmic Stan</td>
                            <td>03/12/2020</td>
                            <td>03/12/2020</td>
                            <td>Deji</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>james@gmail.com</td>
                            <td>Approval Message</td>
                            <td>Dear James your application for our premium service successfully processed and approved. Thank you for choosing our service</td>
                            <td>James Bond</td>
                            <td>03/12/2020</td>
                            <td>03/12/2020</td>
                            <td>Bunmi</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>ted@gmail.com</td>
                            <td>Welcome Message</td>
                            <td>Dear John welcome to our organisation our may we be of service to you</td>
                            <td>John Smith</td>
                            <td>03/12/2020</td>
                            <td>03/12/2020</td>
                            <td>Mariam</td>
                            <td class="table-action">
                                <a href="#"><i class="align-middle" style="color:blue" data-feather="edit-2"></i></a>
                                <a href="#"><i class="align-middle" style="color:red" data-feather="trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>


